<div class="app-wrapper">
  <a routerLink="/" routerLinkActive="hide" [routerLinkActiveOptions]="{exact : true}">
  <button class="btn home-btn" @fadeAnim>
      <i class="material-icons-outlined">home</i>
    </button>
  </a>
  <img
    [src]="bg"
    *ngFor="let bg of bgSrc"
    alt="background image"
    class="bg-img"
    (load)="onBGLoad()"
    @bgAnim
  />

  <button
    class="btn change-bg-btn"
    (click)="changeBgImage()"
    [disabled]="loadingBgImage"
    @fadeAnim
  >
    <i class="material-icons">refresh</i>
  </button>
  <div class="date-section">
    <h1>{{currentTime | async | date: 'shortTime'}}</h1>
    <!-- <h1>{{currentTime | date: 'h:mm'}}</h1> -->

    <h2>{{currentTime | async | date: 'fullDate'}}</h2>
  </div>
  <div class="content-section" [@routeAnim]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
  <div class="nav-tabs">
    <app-tabs></app-tabs>
  </div>
  <app-notification></app-notification>
</div>
